<style>
  #site-footer { padding-bottom: 80px; }
  .floatingchat-container-wrap { transform: scale(0.75); transform-origin: bottom left; }
</style>
<p class="flex items-center text-xs text-neutral-500 dark:text-neutral-400 mt-2"><img src="https://swiftforswifts.org/downloads/swift-for-swifts-icon.png" alt="" class="nozoom inline-block me-2" style="height: 1em;" /><a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" target="_blank" rel="noopener noreferrer" href="https://swiftforswifts.org/">Supporting Swift for Swifts</a></p>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('mobilea11y', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support Me',
    'floating-chat.donateButton.background-color': '#5bc0de',
    'floating-chat.donateButton.text-color': '#323842'
  });
</script>
